.btn-login {
    background-color: yellow;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}

.mid-header {
    background-color: #135a30;
}
.btn-action {
    background-color: orange;
}
.input-group {
    border-radius: 10px 10px 10px 10px;
}
.mid-header a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
span {
    color: white;
}

.mini-cart>a {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 2px solid white;
    border-radius: 6px;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
.img_hover_cart span:hover {
    text-decoration: none;
}

.img_hover_cart:hover {
    background-color: cadetblue;
    color: white;
    text-decoration: none;
}
.count_item {
    background-color: #f59421;
    padding: 3px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
}
.font-weight-bold:hover {
    text-decoration: none;
    color: #f59421;
}
.li-block:hover {
    text-decoration: none;
    color: #f59421;
}
.font-weight:hover {
    text-decoration: none;
    color: #f59421;
}
.image-fluid {
    max-width: 70%;
    height: auto;
    padding-bottom: 5px;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.carousel-control-prev{
    margin-left: 18rem;
}
.carousel-control-next{
    margin-right: 18rem;
}
.mid-header{
    background-color: #135a30;
}
.shop-policies{
    display: flex;
    align-items: center;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
    justify-content: flex-start;
}
.subheader {
    height: 35px;
}
.subheader .container {
    display: grid;
    grid-template-columns: calc(100% / 3 - 90px) 1fr;
    justify-content: space-between;
    align-items: center;
}
.subheader .container .icon {
    margin-left: 50px;
}
#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
#cart-container table thead{
    font-weight: 700;
}
#cart-container table thead td{
    background: #28a745;
    color: #fff;
    border: none;
    padding: 6px 0;
}
#cart-container table td{
    border: 1px solid #b6b3b3;
    text-align: center;
}
#cart-container table td:nth-child(1){
    width: 100px;
}
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
    width: 170px;
}
#cart-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}
#cart-container table tbody i{
    color: #8d8c89;
}
#cart-bottom {
    align-items: center;
}
#cart-bottom .total h5{
    background: #28a745;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}
#cart-bottom .total>div{
    border: 1px solid #b6b3b3;
}
#cart-bottom .total input{
    margin: 0 0 20px 12px;
}
#cart-bottom .total div>div{
    padding: 0 12px;
}
#cart-bottom .total h6{
    color: #2a2a2a;
}
#cart-bottom .total div>button{
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
}
.second-hr{
    background: #b8b7b3;
    width: 100%;
    height: 1px;
}
