.container .row-create{
    border: 1px solid black;
    height: 510px;
    width: 900px;
    display: flex;
    justify-content: center;
    border-radius: 20px  20px  20px  20px;
    border: 1px solid black;
}
/*.row2{*/
/*    border: 1px solid black;*/
/*    height: 100px;*/
/*    margin-top: 20px;*/
/*}*/
.container {
    display: flex;
    justify-content: center;
}
.col-8 {
    border: 1px solid black;
    border-radius: 20px  20px  20px  20px;
    border-top: none ;
    border-bottom: none;
    border-left: none;
}
.col-4 {
    /*border: 1px solid black;*/
}

.image-product {
    height: 430px;
    width: 430px;

}
.image {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
textarea {
    /*height: 10px;*/
    /*width: 0px;*/
}
